input {
    jdbc {
        jdbc_connection_string => "jdbc:oracle:thin:@prodh-scan.ash.broadcom.net:1535/SHUBSTG"
        jdbc_user => "SUPPORT_HUB"
        jdbc_password => "Q5vmrFhqgy2#"
        jdbc_validate_connection => true
		#jdbc_driver_library => "C:/Users/nakaushik/Downloads/sqldeveloper-18.4.0-376.1900-x64/sqldeveloper/jdbc/lib/ojdbc8.jar"
        #jdbc_driver_library => "/etc/logstash/drivers/OJDBC8-Full/ojdbc8.jar"
        jdbc_driver_class => "oracle.jdbc.driver.OracleDriver"
		statement => "Select * from V_PROACTIVE_NOTIFICATION where rownum < 10"
        # statement_filepath => "/etc/logstash/caSourcesIndexing/notifications_full_load.sql"
        # Saturday 12:30 AM every day
        schedule => "30 0 * * SAT"
    }
}

output {
    elasticsearch {
      user => "elastic"
      password => "elastic123"
      hosts => ["10.85.18.37:9200", "10.85.18.38:9200","10.85.18.39:9200", "10.85.18.40:9200"]
      document_id => "%{url}"
      http_compression => true
      index => "notifications_v1"
 }
  stdout { codec => rubydebug }
}