
.my-random-text-div {
    background-color: rgb(236, 147, 12);
}

h1 {
font-weight: 600;

}
body {
    font-size: 10px;
}

.google-font-apply {
    font-family: 'Raleways', Arial;
    font-size: 2.0em;
}